* {
    /* border-box makes it so when adding padding to an element, the width of the element does not increase */
    box-sizing: border-box;

    /* This is called a reset, not necessary but useful to avoid funny surprises */
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(22, 16, 42);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    color: white;
}

.container {
    /* Made the container flex to have the sidebar and the main content side to side */
    display: flex;
    height: 100%;
}

/* Navigation bar */

.sidebar {
    display: flex;
    flex-direction: column;
    background: black;
    height: 100%;
    width: 200px;
    color: #d3d3d3;
    padding: 30px 10px;
}

.sidebar a {
    color: #d3d3d3;
    margin-top: 10px;
}

#sidebar-toggle {
    position: fixed;
    z-index: 100;
    font-size: 1.5rem;
    cursor: pointer;
}

.sidebar-hide {
    display: none;
}

.sidebar-toggle-hidden {
    background-color: #4f4f4f;
    color: #fff;
}

/* Main */
.main {
    /* Flex 1 means grow and take up any extra space in the flex container */
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow-y: auto;
}

.headers {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.headers #search-bar {
    background: black;;
    color: #d3d3d3;
}

#add-notes-button {
    background: #7a5cff;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}

#note-form{
    display: none;
}

#note-form, #note-title {
    margin-bottom: 20px;
}

#note-form input,
#note-form textarea {
    width: 100%;
    padding: 8px;
    background: #d3d3d3;
}

#note-form input {
    width: 100%;
    margin-bottom: 10px;
}

#note-form textarea {
    height: 80px;
    padding-bottom: 20px;
}

#note-form button {
    margin-top: 10px;
}

.cards {
    /* I just wanted 3 notes per row so I decided to use grid with 3 columns */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card h3 {
    margin: 10px 0;
}

.card p {
    color: #aaa;
    font-size: 14px;
}

.card {
    background: black;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    font-size: 12px;
    color: #888;
}

/* This is screen width is less than 850px, I want two columns in the layout */

@media (max-width: 850px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* If the width is less than 650px, I want only 1 column in the layout and I want to headers on top of one another */
@media (max-width: 650px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    /* Keep the original size of the card */
    .card {
        width: 100%;
    }

    .headers{
        flex-direction: column;
        gap: 20px;
    }

    /* I want my search bar and h2 centered */
    .headers #search-bar,
    .headers > h2{
        width: 250px;
        height: 50px;
        margin: 0 auto;
        text-align: center;
    }
}